* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #D8DBE2;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

ul {
    list-style: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
    background: #efde74;
}

.overlay.overlay2{
    left: 33.3%;
}

.overlay.overlay3{
    left: 66.6%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navbar > div {
    padding: 0 30px;
    font-size: 20px;
}

.navbar .menu {
    margin-right: auto;
}

.navbar .lang {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.media ul {
    position: absolute;
    bottom: 250px;
    left: -140px;
    transform: rotate(-90deg);
}

.media ul li {
    font-size: 10px;
    font-weight: 500; 
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
}

.text {
    position: absolute;
    top: 200px;
    left: 100px;
    transform: rotate(-90deg);
}

.text h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -10px;
    position:relative;
    /* overflow: hidden; */
    height: 150px;
    width: 600px;
}

.text h1 span.hideset {
    position: absolute;
}

.text h1:after{
    content:"duality";
    position: absolute;
    top: 40px;
    left: -80px;
    color: #EFDE74;
    font-size: 150px;
    font-weight: 500;
    letter-spacing: 8px;
    z-index: -1;
}

.text h3 {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    width: 600px;
    height: 80px;
    overflow: hidden;
}

.text h3 .hideset {
    position: absolute;
}

.text p {
    width: 200px;
    height: 140px;
    position: relative;
    font-size: 12px;
    margin-top: 13px;
    overflow: hidden;
    font-weight: 500;
}

.text p .hideset{
    position: absolute;
}

.sponsor {
    position: absolute;
    right: 100px;
    bottom: 100px;
    text-align: center;
}

.sponsor .img {
    width: 250px;
    height: 230px;
    overflow: hidden;
    position: relative;
}

.sponsor .img .hideset {
    position: absolute;
    right: 20px;
    bottom: 0;
}

.sponsor img {
    width: 200px;
    transform: rotate(-90deg);
}

.sponsor .sp_name {
    width: 250px;
    height: 17.5px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.sponsor .sp_name .hideset {
    /* position: absolute; */
    display: block;
}

.sponsor p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    transform: rotate(180deg);
}

.distartion {
    width: 580px;
    height: 720px;
    position: absolute;
    right: 360px;
    bottom: 0;
}